@inject IJSRuntime JS
@implements IAsyncDisposable

<button id="btScan" class="btn btn-dark mt-4 text-white">Scan Bluetooth Devices</button>
<button id="btId" class="btn btn-primary mt-4">Turn On Device</button>
<button id="btOff" class="btn btn-danger mt-4">Turn Off Device</button>
<button id="btDist" class="btn btn-light text-black mt-4">Disconnect Bluetooth</button>
<div id="thisId"></div>

@code {

    public IJSObjectReference? bTModule;
    public IJSObjectReference? bTInstance;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            bTModule = await JS.InvokeAsync<IJSObjectReference>("import", "./_content/BoatRazorLibrary/bluetoothInfo.js");
            bTInstance = await bTModule.InvokeAsync<IJSObjectReference>("getBluetoothDevices");
        }
    }


    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (bTInstance is not null)
        {
            await bTInstance.DisposeAsync();
        }

        if (bTModule is not null)
        {
            await bTModule.DisposeAsync();
        }
    }
}
