@page "/bumenu"
@inject IBoatsProducts boatProducts

<h3>Menu</h3>

<div class="container m-auto bg-light">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @if (BoatItems.Any())
        {
            foreach (var item in BoatItems)
            {
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src=@item.BoatImgSrc class="card-img-top" alt=@item.BoatImgAlt>
                        <div class="card-body">
                            <h5 class="card-title">@item.BoatTitle</h5>
                            <p class="card-text">@item.BoatDescription</p>
                            <a href=@item.BoatUrl class="btn btn-primary">Info</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
@code {

    private List<BoatMenuModel> BoatItems;


    protected override async Task OnInitializedAsync()
    {
        BoatItems = await boatProducts.GetBoatMenuListAsync();

    }
    //protected override void OnParametersSet()
    //{
    //    GenerateRoute();
    //}
}
