@page "/bumenu"
@*@page "/bumenu/{Url}"*@

<h3>Menu</h3>

<div class="container m-auto bg-light">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @if (AllBoats.Any())
        {
            foreach (var item in AllBoats)
            {
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src=@item.BoatImgSrc class="card-img-top" alt=@item.BoatImgAlt>
                        <div class="card-body">
                            <h5 class="card-title">@item.BoatTitle</h5>
                            <p class="card-text">@item.BoatDescription</p>
                            <a href=@item.BoatUrl class="btn btn-primary">Info</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
@code {

    private List<BoatMenuModel> AllBoats = new List<BoatMenuModel>
    {
         new BoatMenuModel{BoatUrl = "https://localhost:7016/bumenu/BoatOneUrl/BoatOneDesc", BoatImgSrc = "./_content/BoatRazorLibrary/image1.png", BoatImgAlt = "imageOne", BoatDescription = "BoatOneDesc", BoatTitle = "BoatOneTitle"},
         new BoatMenuModel{BoatUrl = "https://localhost:7016/bumenu/BoatTwoUrl/BoatTwoDesc", BoatImgSrc = "./_content/BoatRazorLibrary/image2.png", BoatImgAlt = "imageTwo", BoatDescription = "BoatTwoDesc", BoatTitle = "BoatTwoTitle"},
         new BoatMenuModel{BoatUrl = "https://localhost:7016/bumenu/BoatThreeUrl/BoatThreeDesc", BoatImgSrc = "./_content/BoatRazorLibrary/image3.png", BoatImgAlt = "imageThree", BoatDescription = "BoatThreeDesc", BoatTitle = "BoatThreeTitle"},
         new BoatMenuModel{BoatUrl = "https://localhost:7016/bumenu/BoatFourUrl/BoatFourDesc", BoatImgSrc = "./_content/BoatRazorLibrary/image4.png", BoatImgAlt = "imageFour", BoatDescription = "BoatFourDesc", BoatTitle = "BoatFourTitle"}
    };
    //[Parameter]
    //public string? Url {get;set;}

    //private void GenerateRoute()
    //{
    //    foreach (var item in AllBoats)
    //    {
    //        Url = item.BoatUrl;
    //        // if (!item.BoatUrl.Equals(BoatOneUrl)) item.BoatUrl = BoatOneUrl;
    //    }

    //}

    //protected override void OnParametersSet()
    //{
    //    GenerateRoute();
    //}
}
