@using Blazority

<div style="background-color:aquamarine; margin-top:50px;">
    <EditForm Model="@dateSelector">
        <DataAnnotationsValidator />
        <DateTimepicker Label="Select a day" @bind-Value="dateSelector.Timestamp" MinimumValue="@minimum" MaximumValue="@maximum" HelpText="@($"The selected date/time is {dateSelector.Timestamp.ToString()}")" ValidationFor="() => dateSelector.Timestamp"></DateTimepicker>
    </EditForm>
</div>

@code {
    private DateSelector dateSelector = new DateSelector { Timestamp = DateTime.Now, MinOnlyTimestamp = DateTime.Now, MaxOnlyTimestamp = DateTime.Now };
    private DateTime minimum = DateTime.Today.AddMonths(-1).AddHours(-1);

    private DateTime maximum = DateTime.Today.AddMonths(1).AddHours(1);

}
