@page "/boatautomation"


<h1>Boat Automation</h1>
<LoginRoute />

<div class="mt-5 mb-5">@countElement</div>
<button class="btn btn-primary" @onclick="IncrementInt">Count</button>


@code
{
    private int countElement;

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{

    //    if (firstRender)
    //    {

    //    }
    //}
    private void IncrementInt()
    {
        countElement += 10;
    }
}
