@page "/bumenu/{BoatUrl}"
@inject IBoatsProducts boatProduct

<div class="container">

            @if (boatProduct.ServiceBoatsList.Any())
            {
                var thisItem = boatProduct.ServiceBoatsList.Find(item => item.BoatIdentity == BoatUrl);

                if (thisItem != null)
                {
                    <div class="card" style="width: 50rem;">
                        <img src=@thisItem.BoatImgSrc class="card-img-top" alt=@thisItem.BoatImgAlt>
                        <div class="card-body">
                            <h5 class="card-title">@thisItem.BoatTitle</h5>
                            <p class="card-text">@thisItem.BoatDescription</p>
                           
                        </div>
                    </div>

                    foreach (var access in thisItem.BoatAccessory)
                    {
                        <div class="mt-5">
                            <div class="card" style="width: 18rem;">
                                <img src=@access.AccessoryImgSrc class="card-img-top" alt=@access.AccessoryName>
                                <div class="card-body">
                                    <h5 class="card-title">@access.AccessoryName</h5>
                                    <p class="card-text">@access.AccessoryDesc</p>
                                    <button @onclick="() => AddToCart(access.AccessoryName,access.AccessoryImgSrc,access.AccessoryDesc)" class="btn btn-info">Add</button>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>

@code {

    [Parameter]
    public string BoatUrl { get; set; }

    void AddToCart(string thisName, string thisImg,string thisDesc)
    {
        boatProduct.ServiceCartList.Add(new BoatAccesssoriesModel { AccessoryDesc = thisDesc, AccessoryImgSrc = thisImg, AccessoryName = thisName });
    }

}
