@page "/bumenu/{BoatUrl}/{BoatDesc}"

<div class="container m-auto">
<div class="card">
    <h5 class="card-header">@BoatUrl</h5>
    <div class="card-body">
        <h5 class="card-title">@BoatUrl</h5>
        <p class="card-text">@BoatDesc</p>
    </div>
</div>
</div>


@code {
    [Parameter]
    public string BoatUrl { get; set; }
    [Parameter]
    public string BoatDesc{ get; set; }
}
