@page "/"


<PageTitle>Main</PageTitle>

<h1>Boat Users Web App</h1>

<BoatUsers />

<PlatformCheck OnDisplayChanged="DisplayChanged" />

@if (OrderToDisplay)
{
    <BUCalendarMaui />
}
else
{
    <BluetoothDevicesInfo />
}

@code{
    private bool OrderToDisplay { get; set; }
    public async void DisplayChanged(bool thisValue)
    {
        OrderToDisplay = thisValue;
    }
}
