@page "/"
@inject IPlatformCheck iplatformcheck

<PlatformCheck />
<PageTitle>Main</PageTitle>

<h1>Boat Users Main Page</h1>

<BoatUsers />

@if (iplatformcheck.IsPCheckStart)
{
    @if (iplatformcheck.IsMobilePlatform)
    {
        //OnDisplayChanged = "DisplayChanged" OnDesktopDisplayChanged = "DisplayDesktopChanged"
        <div>Mobile App Platform</div>
        <BUCalendarMaui />
    }
    else if (iplatformcheck.IsDesktopPlatform)
    {
        <div>Desktop Platform</div>

        <BluetoothLowEnergySystem />
    }
    else
    {
        <div>Windows Platform</div>
        <SmartHomeW />
    }
}

@code{


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        StateHasChanged();
        await base.OnAfterRenderAsync(firstRender);
    }

    }
