@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Main</PageTitle>

<h1>Boat Users Web App</h1>

<BoatUsers />

<div>Bluetooth Devices</div>
<PlatformCheck OnDisplayChanged="DisplayChanged" OnDesktopDisplayChanged="DisplayDesktopChanged" />

@if (OrderToDisplay)
{
    <BUCalendarMaui />
}
else if (OrderDesktopToDisplay)
{
    <BluetoothLowEnergySystem />
}
else
{
    <div>This Is Windows</div>
    @*<BluetoothDevicesInfo />*@
    <a class="btn btn-primary" href="https://www.amazon.com/ap/oa?client_id=amzn1.application-oa2-client.8e364cf34cb649508a1746e26a4429d4&scope=alexa%3A%3Aask%3Askills%3Areadwrite%20alexa%3A%3Aask%3Amodels%3Areadwrite%20alexa%3A%3Aask%3Askills%3Atest&redirect_uri=https://localhost:7016&response_type=code&client_secret=55e478a258cc7e74ad623dd3a5439e501dfad27c8ef710daa7f73b391c98a899">Login here</a>
    <br />
    //https://skills-store.amazon.com/api/skill/link/M2FC9FL6SREJQF
    <button class="btn btn-info" onclick="@TestMongo">InsertData</button>
    if (OneTimeRun)
    {
        for (int i = 0; i < thisAlexa.GetProperties.Length; i++)
        {
           <div class="text-danger">@thisAlexa.GetProperties[i]</div>
        }
    }
}

@code{
    private bool OrderToDisplay { get; set; }

    private bool OrderDesktopToDisplay { get; set; }

    private AlexaDataStorageMNDB alexaDB = new AlexaDataStorageMNDB();

    private AlexaApiRequests thisAlexa = new AlexaApiRequests();

    private AlexaApiRequests thisAlexaToken = new AlexaApiRequests("https://api.amazon.com/auth/o2/token");

    private bool OneTimeRun { get; set; } = false;

    public void DisplayChanged(bool thisValue)
    {
        OrderToDisplay = thisValue;
    }
    public void DisplayDesktopChanged(bool thisValue)
    {
        OrderDesktopToDisplay = thisValue;
    }
    private async Task TestMongo()
        {
        await alexaDB.InsertDocument();
        }
    private async Task<string> GetCodeFromUrl()
    {
        var currentUrl = NavigationManager.Uri;
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        if(Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("code", out var param))
        {
            return param;
        }
        return "";
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var getCode = await GetCodeFromUrl();
        //db.getCollection("COLLECTION_NAME").find({"createdAt":{$gt:new Date(Date.now() - 24*60*60 * 1000)}})

        if (!OneTimeRun)
        {
            if (!string.IsNullOrEmpty(getCode))
            {
                var thisAToken = await thisAlexaToken.PostAlexaGenerateAToken(getCode);
                // if button on or off and thisToken is not null, 
                await thisAlexa.PostAlexaAPIPowerControlEvent(thisAToken, "TurnOff");
                //await thisAlexa.PostAlexaAPIPowerControlEvent(thisAToken, "TurnOn");
                OneTimeRun = true;
                StateHasChanged();
            }
        }
    }
}
