@page "/"


<PageTitle>Main</PageTitle>

<h1>Boat Users Web App</h1>

<BoatUsers />

<PlatformCheck OnDisplayChanged="DisplayChanged" OnDesktopDisplayChanged="DisplayDesktopChanged" />

@if (OrderToDisplay)
{
    <BUCalendarMaui />
}
else if (OrderDesktopToDisplay)
{
    <BluetoothLowEnergySystem />
}
else
{
    @*<BluetoothDevicesInfo />*@

    <div>This Is Windows</div>

}

@code{
    private bool OrderToDisplay { get; set; }

    private bool OrderDesktopToDisplay { get; set; }

    public void DisplayChanged(bool thisValue)
    {
        OrderToDisplay = thisValue;
    }
    public void DisplayDesktopChanged(bool thisValue)
    {
        OrderDesktopToDisplay = thisValue;
    }
}
