
@inject IBULogin ibulogin

@if (UserLoginList.Any())
{

    foreach (var item in UserLoginList)
    {
        <div class="mb-2 bg-info">Welcome @item.UserName, You are Logged In</div>
    }
}
@code{


    private List<BULoginModel> UserLoginList;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        UserLoginList = await ibulogin.GetBULoginInfoAsync();
    }

}

