@inject IJSRuntime js
@implements IAsyncDisposable

<div bind="@IsMobile"></div>

@code {

    [Parameter]
    public EventCallback<bool> OnDisplayChanged { get; set; }

    [Parameter]
    public EventCallback<bool> OnDesktopDisplayChanged { get; set; }

    private IJSObjectReference? funcModule;

    private bool testBool;

    public bool IsMobile
    {
        get => testBool;
        set
        {
            testBool = value;
            OnDisplayChanged.InvokeAsync(value);
        }
    }
    private bool desktopBool;

    public bool IsDesktop
    {
        get => desktopBool;
        set
        {
            desktopBool = value;
            OnDesktopDisplayChanged.InvokeAsync(value);
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {

            funcModule = await js.InvokeAsync<IJSObjectReference>("import", "./_content/BoatRazorLibrary/cartInfo.js");

            IsMobile = await funcModule.InvokeAsync<bool>
                ("isDevice");

            IsDesktop = await funcModule.InvokeAsync<bool>
                ("isDesktop");
            StateHasChanged();

        }

    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {

        if (funcModule is not null)
        {
            await funcModule.DisposeAsync();
        }
    }
}
